@import url("maiku.css");


/* Reset some of the Haiku CSS. */

html, body {
	background: #EEE;
	min-width: 0%;
	max-width: 100%;
}

div.header {
	top: 0px;
	left: 0px;
}

div.header .heading {
	padding-top: 0px;
}

div.header .links {
	padding-left: 0px;
	margin-top: 0px;
}


/* Start the actual styling. */

html {
	background: #EEE;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	font-family: Calibri, "Trebuchet MS", sans-serif;
	color: #222;
	background: #EEE;
	background-image: -webkit-gradient(linear, left bottom, left top,
			color-stop(0, #CCC), color-stop(0.5, #EEE));
	background-image: -moz-linear-gradient(center bottom, #CCC 0%, #EEE 50%);
}

a:link, a:visited, a:hover, a:active {
	color: #02779E;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
}

div.column {
	min-width: 600px;
	max-width: 960px;
	margin: 0px auto;
}

div.header {
	margin: 0 95px;
	height: 50px;
	position: relative;
	margin-top: 10px;
}

div.header .heading {
	margin: 0 !important;
	position: absolute;
	top: 10px;
	left: 5px;
}

div.header .links {
	position: absolute;
	top: 10px;
	right: 5px;
	float: right;
}

div.header .links ul {
	display: inline;
}

div.header .links ul li {
	display: inline;
	padding: 0 5px;
}

div.topnav, div.bottomnav {
	float: right;
	background: none;
}

div.content {
	background-color: #FFF;
	/*background-position: center;
	background-image: url(pants.png), -webkit-gradient(
			linear, left bottom, left top,
			color-stop(0, rgb(239, 239, 239)),
			color-stop(0.5, rgb(255, 255, 255))
		);
	background-image: url(pants.png), -mox-linear-gradient(
			center bottom, #EFEFEF 0%, #FFF 50%
		);*/
	border: 5px #DDD solid;
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding: 50px;
	padding-top: 25px;
	margin: 0 50px;
}

div.content p {
	line-height: 1.2em;
}

div.footer, .faint {
	color: #888;
}

div.footer {
	padding: 10px;
	margin: 0 50px;
	font-size: 0.9em;
}

div.footer p {
	text-align: center;
}
